<div class="navbar navbar- navbar-fixed-top ship-blue-background-color" role="navigation">
    <div class="container header-text">

        <div class="navbar-header">
            <%= link_to project_name, root_path, class:"navbar-brand" , method: :get%>
        </div>

        <!--navcollapse -->
        <div class="collapse navbar-collapse ">

            <ul class="nav  navbar-nav navbar-right">

                <% if broker_signed_in?  %>
                    <li><a class="hover_change_color" href="">Welcome, <%= current_broker.username %></a></li>
                    <%= content_tag :li do %>
                        <%= link_to "Log out" , destroy_broker_session_path,class:"hover_change_color", method: :delete %>
                    <% end %>
                <% end  %>
            </ul>
        </div>
        <!-- end of nav-collapse -->
    </div>
</div>