<section id="main_banner" >

  <div class="banner_background">
    <div class="banner1">
      <h1> Welcome to The Ship Network</h1>
      <h5> A place to organize and locate ships and their respective ports with ease.</h5>
       <%= link_to 'Login' , main_pages_loginpage_path, class:"basic_button", :remote => true%>
      <!--<button class="basic_button" type="button" clickable>Log in</button>-->
      <button class="basic_button" type="button" clickable>Sign Up</button>
      <button class="basic_button" type="button" clickable>Free Tour</button>

    </div>
  </div>

</section>