<section id="main_banner" >

  <div class="banner_background">
    <div class="banner1">
      <h1 class="less_margin"> Welcome to The Ship Network</h1>
      <h5 class="less_margin"> A place to organize and locate ships and their respective ports with ease.</h5>

        <div class="banner1_buttons">
        
    <%=
        link_to  main_pages_loginpage_path , :remote => true do
            button_tag("Login" , type:'button', class:"basic_button")
        end

      %>
        <%# button_tag( "Sign Up", type: 'button', class:"basic_button") %>
        <%# button_tag( "Free Tour", type: 'button', class:"basic_button") %>


        
      </div>
    </div>
  </div>

</section>