
<%=render 'main_pages/link_list_back_history/index'%>
<button onclick="short_region_info_show('North America')"> Mouse Over Region </button>
<button onclick="show_total_deadweight_when_mouse_out('North America')"> Mouse Out </button>
<div id="outer-map">
<%= render 'google_map/index' %>
</div>

<%= render 'side_bar/index' %>
