

<!-- 
	<script type="text/javascript" src="js/application.js"></script>
	<script type="text/javascript" src="js/start_app.js"></script> 
	<script type="text/javascript" src="js/map_navigate.js"></script>
-->

<div id="outer-map">
<!--	<button type="button" class="btn btn-default btn-lg"> -->
  <span id="button-chevron-right" class="glyphicon glyphicon-chevron-right clickable"></span> 

  <span id="button-chevron-left" class="glyphicon glyphicon-chevron-left clickable"></span>
</button>
<!--
		<span  id ="button-chevron-right" class="fa fa-chevron-right clickable"> </span>
		<span  id ="button-chevron-left" class="fa fa-chevron-left clickable"> </span>
	-->
 <div id="googleMap" align="center" >
 </div>
</div>
<!--</body>-->