<title>
Login page
</title>
<head>

<center><h1 style=Georgia, "Times New Roman",;text-align="center";font-size:20pt;
color:#00FF00;>


<form name="login">
<h3>&nbsp Log In:</h3>
<h1>	
<div><span style="padding-right: 12em""padding-left:6em">&nbsp Username: </span>                    Password:<br></div>
<input type="text" name="userid"/>

<input type="password" name="password"/><br>
<input type=  "checkbox" onClick="remember_me()">  Remember me<br>

            <input type=  "button"onclick="check(this.form)"   value="Login"/>
            <input type=  "reset"  value= "Cancel"/><br>

 

</center>

</form>

