<title>
Login page
</title>
<head>

<center><h1 style=Georgia, "Times New Roman",;text-align="center";font-size:20pt;
color:#00FF00;>
<b>Simple Login Page</b>
</h1></center>

<form name="login">
<center>
Username  <input type="text" name="userid"/><br><br>
Password  <input type="password" name="pswrd"/><br>
<br>
           <input type=  "button"onclick="check(this.form)"   value="Login"/>
           <input type=  "reset"  value= "Cancel"/><br>

 
           <input type=  "checkbox" onClick="remember_me()">  Remember me

</center>

</form>

