<thead id="region_stats_table">
<tr>
    <th colspan="<%= 2%>" class="region_stats">
        <%= image_tag("greentriangle_down.png", size: "16", class:"triangle_image ")%> Region Stats
    </th>
</tr>
</thead>
<tr class="thick_horizontal_line text-left">

    <td>Total Ships:</td>
    <td>70</td>
</tr>
<% vessel_classes.each do |_class| %>
    <tr >
        <td class="text-left"><%=" #{_class}:" %></td>
        <td class="text-right"><%= get_number_of_ships_per_class _class%></td>
    </tr>
<% end %>