

<tbody class="region_short_info display-none">



    <tr class="text-left">
        <td>A</td>
        <td>B</td>
    </tr>
    <tr class="text-left">
        <td>A</td>
        <td>B</td>
    </tr>

</tbody>