<ul id="admin-main-tap" class="nav nav-tabs">
    <li role="presentation"><%= link_to 'Home', controller: 'admin/main', action:'index'%></li>
    <li role="presentation"><%= link_to 'Shipment', controller: 'admin/shipment', action:'index'%></li>
    <li role="presentation" class="active"><%= link_to 'Email', controller: 'admin/email', action:'index'%></li>
</ul>