<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Untitled Document</title>
<link href="bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="index.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container">

<div id="box">
<table width="75%" border="0" align="center">
  <tr>
    <td align="left" width="65%">
    <h1>Create an account:</h1>
       <form action="index.html" method="get" name="login">
 <p>Email:<br />
    <input name="email" type="text" value="" size="40"    maxlength="35" style="border-radius:20px" /><br /><br/>
    Username:<br />   <input name="username" type="text" value="" size="40" maxlength="35" /><br /><br />
    Password:<br />
    <input name="password" type="text" value="" size="40" maxlength="35" /><br /><br />
    <input name="check" type="checkbox" value="" /> Show password<br /><br /></p>
    <button type="button" class="btn btn-success" style="background-color:#d6de23">Sign Up</button>
    <!--<input name="Signup" type="button" value="Sign Up" style="background-color:#6F3; color:#FFF ;height:30px; width:90px" />-->
       </form>
    </td>
    <td><hr  /></td>
    <td align="center" style="padding-bottom:138px; padding-left:23px"> <h1>Log In using:</h1><br />
    <button type="button" class="btn btn-primary" style="height:36px; width:150px">Facebook</button>
    <!--<input name="Facebook" type="button" value="Facebook" style="color:#FFFFFF; background-color:#06F;height:30px; width:90px"  />--><br /><br />
    -&nbsp;or&nbsp;-<br /><br />
    <button type="button" class="btn btn-default" style="height:36px; width:150px">Gmail</button>
    <!--<input name="gmail" type="button" value="Gmail"  style="height:30px; width:90px" />-->
    </td>
  </tr>
</table>
</div>

</div>
<script src="bootstrap.min.js"></script>
</body>
</html>
