#googleMap{

 	width: 575px;
    height: 575px;
    position: relative;
    background-color: white;
    
    margin-top: 10px;
    margin-left: 200px;
    
   -moz-border-radius: 999px; 
   -webkit-border-radius: 999px; 
   border-radius: 460px;
    
}