<h2>Updated ships</h2>

<% begin %>
<table>
  <% @error_messages_for_shipments.each do |item| %>
      <tr>
        <td><%= item %></td>
  <% end %>
  </tr>
</table>
<% rescue => e %>
<%= e.message %>
<% end %>