<div id="short_broker_info" style="display: none">
    <table border="1" >
        <th colspan="2">
            Broker details:<%= @ship_info[:broker_name] %>
        </th>

        <tr>
            <td id="table-left">Company name</td>
            <td>Sterling Ocean Transport</td>
        </tr>
        <tr>
            <td id="table-left">City</td>
            <td>Montreal</td>
        </tr>
        <tr>
            <td id="table-left">Country</td>
            <td>Canada</td>
        </tr>
        <tr>
            <td id="table-left">e-mail</td>
            <td><%= @ship_info[:broker_email] %></td>
        </tr>
    </table>

</div>