

<div id="short_broker_info_title" class="display-none">

    Broker details: <%= @ship_info[:broker_name] %>
</div>
<div id="short_broker_info_content" class="display-none">

    <table>

        <tr>
            <td id="table-left">Company name</td>
            <td>Sterling Ocean Transport</td>
        </tr>
        <tr>
            <td id="table-left">City</td>
            <td>Montreal</td>
        </tr>
        <tr>
            <td id="table-left">Country</td>
            <td>Canada</td>
        </tr>
        <tr>
            <td id="table-left">E-mail</td>
            <td><%= @ship_info[:broker_email] %></td>
        </tr>
    </table>


</div>

