

<tr class="text-left">
    <td>
        Category:
    </td>
    <td>
        <%= @ship_info[0] %>
    </td>
</tr>
<tr class="text-left">
    <td>
        Open Port:
    </td>
    <td>
        <%= @ship_info[2] %>
    </td>
</tr>
<tr class="text-left">
    <td>
        Open Date:
    </td>
    <td>
        July 20 - 25
    </td>
</tr>
<tr class="text-left">
    <td>
        Deadweight:
    </td>
    <td>
        <%= @ship_info[1] %>
    </td>
</tr>

