<thead id="region_stats_table">
<tr>
    <th colspan="<%= 2%>">Region Stats</th>
</tr>
</thead>
<tr class="thick_horizontal_line text-left">

    <td>Total Ships:</td>
    <td>70</td>
</tr>
<% vessel_classes.each do |_class| %>
    <tr class="text-left">
        <td><%=" #{_class}:" %></td>
        <td>10</td>
    </tr>
<% end %>