<thead class="table_after_clicking_on_a_port ">
<tr>
    <th class="text-left">
        <small>port: </small><%=  @side_info[:port_name]%>
    </th>
    <th class="text-right" >
        <%=
            "#{@ships_at_port.size} Ships"
        %>
    </th>
</tr>

</thead>
<tr>
    <td colspan="<%= 2%>">

    </td>
</tr>