<thead class="table_after_clicking_on_a_port ">
<tr>
    <th class="text-left">
        <small>port: </small><%=  @side_info[:port_name]%>
    </th>
    <th class="text-right" >
        <%= "10 Ships"
            #"#{all_ships_at_specific_port [0,0], @side_info[:port_name]} Ships: "
        %>
    </th>
</tr>

</thead>
<tr>
    <td colspan="<%= 2%>">

    </td>
</tr>