<!--
    This file display general information about all regions
-->


      <thead class="side_bar_default_table text-left">
      <tr >
        <th colspan="<%= 2 %>">Total # of Ships</th>
      </tr>
      </thead>
        <% vessel_classes.each do |_class| %>
          <tr class="text-left">
            <td><%=" #{_class}:" %></td>
            <td>50</td>
          </tr>
        <% end %>

      <thead class="side_bar_default_table text-left">
      <tr>
        <th colspan="<%= 2 %>"># of Ships by Region:</th>
      </tr>
      </thead>

        <% get_all_regions.each do |_class| %>
            <tr class="text-left">
                <td><%= _class %></td>
                <td>50</td>
            </tr>
        <% end %>




