<thead>
    <tr>
        <th colspan="2" class="radius-top-left-corner radius-top-right-corner side_bar_header">
                <%= header_name%>
        </th>
    </tr>
</thead>
<tr>
    <td colspan="2" class="">

    </td>
</tr>