<!--TABLE-->
<div class="tb">
    <table>
        <tr>
            <th>Open Port</th>
            <th>Test Results</th>
        </tr>
        <tr>
            <td>Google nexus 7</td>
            <td>Perfect Functionality</td>
        </tr>
        <tr>
            <td>Dongle</td>
            <td>Perfect Functionality for TV</td>
        </tr>
        <tr>
            <td>Minix Newo G4</td>
            <td>Excellent Functionality</td>
        </tr>
        <tr>
            <td>B13</td>
            <td>Perfect Functionality</td>
        </tr>
        <tr>
            <td>TronSmart</td>
            <td>Good Functionality</td>
        </tr>
    </table>
</div>
