
<div id="outer-map">
  <img src="/left_default.png" alt="#" id="left-img-responsive">
  <img src="/right_default.png" alt="#" id="right-img-responsive">
  	
	  <div id="googleMap" align="center">
	
	</div>
</div>
<!--</body>-->