
<div id="outer-map">
  <img src="/left_default.png" alt="#" id="left-img-responsive" data-placement="top"  data-toggle="tooltip" title="worked" >
  <img src="/right_default.png" alt="#" id="right-img-responsive">

    <div class="" >
    <%= image_tag("zoom_out.png", size: "32", class:"zoom_out")%>
  <%= image_tag("zoom_in.png", size: "32", class:"zoom_in")%>
        </div>

	  <div id="googleMap" align="center">
	
	</div>
</div>
<!--</body>-->

