
<div id="outer-map">
  <img src="/left_default.png" alt="#" id="left-img-responsive">
  <img src="/right_default.png" alt="#" id="right-img-responsive">
  <%= image_tag("zoom_in.png", size: "16", class:"zoom_in")%>
  <%= image_tag("zoom_out.png", size: "16", class:"zoom_out")%>
	  <div id="googleMap" align="center">
	
	</div>
</div>
<!--</body>-->