// Place all the styles related to the google_map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#outer-map{

  //margin-left:10px;
 // margin-top:20px;
 // height: 800px;
  width: 70%;
  float: left !important;

}

#googleMap{
   margin: auto;
  width: 725px;
  height: 725px;
 // position: relative;
  background-color: white;

  margin-top: 10px;
 // margin-left: 250px;

  -moz-border-radius: 999px;
  -webkit-border-radius: 999px;
  border-radius: 999px;

}
.infobox-wrapper {
  display:none;
}

#mapInfoBox {
  background: #ffffff;
  font-size: 10pt;
  max-width: 220px;
  min-width: 180px;
  text-align: center;
  margin-top: 0px;
  padding: .2em 1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

}