$image_height: 50px;

@mixin  vertical_align{
    margin-top: -moz-calc(50% - 25px);
    /* WebKit */
    margin-top: -webkit-calc(50% - 25px);
    /* Opera */
    margin-top: -o-calc(50% - 25px);
    /* Standard */
    margin-top: calc(50% - 25px);
}


#right-img-responsive{
  position:relative;
  float: right;
  height:$image_height;
  @include  vertical_align;
  margin-left:10px;
  max-width:35px;
    &:hover{
      // see solve_pre_compiling_of_the_assets.css.erb
    }
}

#left-img-responsive{

 position:relative;
 float: left;
 height:$image_height;
 @include  vertical_align;
 margin-right:10px;

}
.zoom_out{
    position: relative;
    float: right;
    cursor: default;


}
.zoom_in{
    position: relative;
    float: right;
    cursor: default;

}

/*---TOOLTIP NEXT AND BACK--------------------------------------------------*/

.tooltip_decoration{

  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: white !important;

  border-color: transparent;
  border-style: solid;
  position: absolute;
}

.tooltip.top .tooltip-inner {
  background-color:white;
  color:black;

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  }

