<div class="error_message">
   <strong>Error!</strong> <button type="button" class="btn close"> &times; </button>
   <p> Something doesn't seem to be</p>
    <p>working at the moment</p>
    <p> Please contact our admin by clicking the button below.</p>
</div>