<div class="link_list_back_history">


    <% first = true
       @linklist_back_history['name'].each do |value| %>

        <% if first %>
          <%= link_to " #{value}"  , "#" , method: :get %>
        <%
           first = false
           else
        %>
            >> <%= link_to "#{value}"  , "#" , method: :post %>
          <% end %>


    <% end %>

</div>