

#outer-map{
	
	margin-left:10px;
	margin-top:20px;
	height: 800px; 
	width: 800px;
	

}

#googleMap{

  	width: 475px;
    height: 475px;
    position: relative;
    background-color: white;
    
    margin-top: 10px;
    margin-left: 250px;
    
   -moz-border-radius: 999px; 
   -webkit-border-radius: 999px; 
   border-radius: 460px;
    
}


#button-chevron-left{
  position:absolute;
  left:276px;
  top: 350px;
  }
  
#button-chevron-right{
  position:absolute;
  right:398px;
  top: 350px;


}
