@import "bootstrap";

$grayMediumLight: #0A94CB;

body {
  padding-top: 50px;
  background-color: #f0f1f1;
   background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPklEQVQYV2NkQAOHDh2StLOze44uzogsAFOETTFcIbokOh+sEJd1yOKMuBTBnASTR3EjugeQFROlEKSBaIUATZImaLpyaPwAAAAASUVORK5CYII=
   ) repeat;
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}


/*-------HEADER------------------------------------------------------*/

.username_header{
  color:#d6de23;
}

.hover_change_color:hover{ /*make the main title of the page also work with the hover*/
 color:white;
  background-color: #229ed0; 
}

.nav > li > a.hover_change_color:hover,.nav > li > a.hover_change_color:active { /*changes hover color of navbar buttons*/
  color:white;
  background-color: #229ed0;
}

.navbar{ /*dropshadow for navbar*/
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.header-text {
    a{
        color: #ffffff;
    }
}

/*---------------------------------------------------------------------*/


/*footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-lighter;
  a {
     color: $gray;
     &:hover {
       color: $gray-darker;
     }
   }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}*/

.transparent{
  opacity: 0.1;
}

.labels{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.passColor{
  color: white;
}

.textStyle {
  font-family: roboto !important;
}

h1{
    margin-top: 60px;
    font-family: roboto;
    font-weight: 100;
    color: white;
    font-size: 80px;
    text-align: center;
}

h5{
  margin-top: 35px;
    font-family: roboto;
    font-weight: 100;
    color: white;
    font-size: 28px;
    text-align: center;
}
.form-control.labels.col-md-5.login_error { /*customizes the login error feedback*/
  border-style:solid;
  border-width:2.5px;
  border-color:#a94442;
}

