@import "bootstrap";



$grayMediumLight: #0A94CB;

body {
  padding-top: 50px;
  background-color: #f0f1f1;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-lighter;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.transparent{
  
  opacity: 0.1;
}


