/* --- General format of the side --- */
.aside_ship_details {

  //margin-top: 20px;
  width: 30%;
    font-family: roboto !important;

    table td {
      border-top: solid #ffffff 0px !important;
      z-index: 10;


  }
    table table{
        border: solid white 2px;
    }

  table tbody tr td div table td{

      border-top: solid #dddddd 1px !important;


     table div table tr{


      }

  }
}

#side_table{



}
/* --- end ---  */
/* table head */

.aside_ship_details_table_head {
    //  margin-top: -15px;
    border: solid #ffffff 0px !important;



}

/*  map controller table */


.map_controller_go_to_region{

    background-color: #f0f1f1;
    li{
        height: 25px;
        cursor: pointer;
        margin-left: 10px;

    }
    li:hover{
        color: #cb9007;
    }
}

/*  end  map controller table */
/*  end table head  */


/*  table body  */
.informative_table{


    th {

        color: #ffffff;
        font-size: 14pt;
        background-color: #0A94CB;
        font-weight:100 !important;

    }
    tr {
        height: 1px !important;
        background-color: white;
        font-weight:800 ;

    }

}

/*  -----   default table ----- */
.side_bar_default_table {

}
/*  end */

/*  ----  after a region has been clicked  ----   */
.table_after_clicking_on_a_region {


}

/* end  */

/*  table foot  */
.aside_ship_details_table_foot{
   margin-top: -33px;
    border: solid #ffffff 0px !important;
    th{
       color: #D6de23;
    }







}
/*  end    */





.thick_horizontal_line{
    border-bottom: solid 3px !important;

}

/* scroll */
div.scroll_inside_table {
    background-color: #eaeaea;
    table {
        background-color: #eaeaea;
        border: #eaeaea !important;
    }
    td{

        background-color: #eaeaea;
        text-align: left;
        border-top: solid #ffffff 0px !important;
    }
}
.scroll_inside_table::-webkit-scrollbar{
    -moz-webkit-appearance: none;
    -ms-webkit-appearance: none;
    -o-webkit-appearance: none;
    -webkit-appearance: none;
}
.scroll_inside_table::-webkit-scrollbar:vertical{
    width: 10px;
}
/*
.scroll_inside_table::-webkit-scrollbar:horizontal {
  height: 11px;
}
*/
.scroll_inside_table::-webkit-scrollbar-thumb {

    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;


    border: 1px solid #ffffff; /* should match background, can't be transparent */

    background-color: rgba(0, 0, 0, 0.64);
}

/*end scroll*/
/* end after a region has been clicked */
/* ship */
.dropdown-menu-custom{
    width: 100%;
    background-color: #f0f1f1;
}
/**/











