<!--
    This file display general information about all regions
-->
    <table id="side_bar_default_table" class="table informative_table " cellspacing="0">

      <thead>
      <tr >
        <th colspan="<%= 2 %>">Total # of Ships</th>
      </tr>
      </thead>
        <% vessel_classes.each do |_class| %>
          <tr>
            <td><%=" #{_class}:" %></td>
            <td>50</td>
          </tr>
        <% end %>

      <thead>
      <tr>
        <th colspan="<%= 2 %>"># of Ships by Region:</th>
      </tr>
      </thead>

        <% get_all_regions.each do |_class| %>
            <tr>
                <td><%= _class %></td>
                <td>50</td>
            </tr>
        <% end %>


      <thead>
      <tr>
        <th colspan="3">Total Deadweight     2033 tones</th>
      </tr>
      </thead>
    </table>
