<div>
<aside class="aside_ship_details pull-right">
    <table class="table ">

      <thead>
      <tr >
        <th>Jill</th>
        <th>Smith</th>
        <th>50</th>
      </tr>
      </thead>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
    </table>
  <table class="table">

    <thead>
    <tr>
      <th>Jill</th>
      <th>Smith</th>
      <th>50</th>
    </tr>
    </thead>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
  </table>
</aside>
</div>