<div>
<aside class="aside_ship_details pull-right">
    <table class="table " cellspacing="0">

        <thead>
            <tr >
                <th colspan="3">General Information</th>

            </tr>
        </thead>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>

        <thead>
        <tr>
          <th colspan="3">Total # of Ships</th>
        </tr>
        </thead>
        <tr>
          <td>Jill</td>
          <td>Smith</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Jill</td>
          <td>Smith</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Jill</td>
          <td>Smith</td>
          <td>50</td>
        </tr>
      <thead >
      <tr>
        <th colspan="3">List of Ports in Region</th>
      </tr>
      </thead>
     <tr>
        <td colspan="3">
          <div class="scroll_inside_table" style="overflow: auto; height: 150px; padding: 4px">


            <table class="table table-hover">
              <tr>
                <td>
                    Manitoba
                </td>
              </tr>
              <tr>
                <td>
                    New York
                </td>
              </tr>
              <tr>
                <td>
                    Porto Alegre
                </td>
              </tr>
              <tr>
                <td>
                    Rio Grande
                </td>
              </tr>
              <tr>
                <td>
                    Ann Harbour
                </td>
              </tr>
              <tr>
                <td>
                    Florida
                </td>
              </tr>
              <tr>
                <td>
                    Djibouti
                </td>
              </tr>
              <tr>
                <td>
                    Portsmouth
                </td>
              </tr>
            </table>

          </div>
       </td>
    </tr>
      <thead>
      <tr>
        <th colspan="3">Total Deadweight     2033 tones</th>
      </tr>
      </thead>
    </table>
</aside>
</div>