<table id="map_controller_panel" class="aside_ship_details_table_head table  informative_table">

<thead>
    <tr>
        <th>
            Map Controller Panel
        </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
               Something
            </td>
        </tr>

    </tbody>

    <tfoot>

    </tfoot>
</table>