<table id="map_controller_panel" class="aside_ship_details_table_head table  informative_table">

<thead>
    <tr>
        <th>
            Go to Region
        </th>
    </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                <div class="dropdown">
                    <div class=" dropdown-menu-custom text-left dropdown-toggle" type="button" id="dropdownGoToRegion" data-toggle="dropdown">
                        <%= 'selecte'%>
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu full-width map_controller_go_to_region" role="menu" aria-labelledby="dropdownGoToRegion">

                        <% regions_names_coordinates.each do |region|%>

                            <%= content_tag :li, class: "map_controller_go_to_region_li", role:"presentation",
                                            onclick:"go_to_region(#{region[1]})" do %>
                              <%=region[0]%>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            </td>
        </tr>

    </tbody>

    <tfoot>

    </tfoot>
</table>