<table id="map_controller_panel"  class="table">
    <thead>
    <tr>
        <th>
            Map Controller Panel
        </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
               Something
            </td>
        </tr>

    </tbody>

    <tfoot>

    </tfoot>
</table>