

    <thead>
        <tr>
            <th class="radius-top-left-corner radius-top-right-corner ">
                Go to Region
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                <div class="dropdown">
                    <div class=" dropdown-menu-custom text-left dropdown-toggle" type="button" id="dropdownGoToRegion" data-toggle="dropdown">
                        <span id="dropdownGoToRegion_lable">Select Region</span>
                        <span class="caret"></span>


                    </div>
                    <ul class="dropdown-menu full-width map_controller_go_to_region" role="menu" aria-labelledby="dropdownGoToRegion">

                        <% get_region_names.each do |region|%>

                            <%= content_tag :li, id: "#{remove_white_space region}_inside_dropdown_main",
                                            class: "map_controller_go_to_region_li", role:"presentation" do
                                link_to region ,main_pages_region_path({region_info: {name:region}}), html:{role:"menuitem", tabindex:"-1"}, method: :post, :remote => true
                            end
                            %>
                        <% end %>
                    </ul>

                </div>
            </td>
        </tr>
    </tbody>

