

    <thead>
        <tr>
            <th class="radius-top-left-corner radius-top-right-corner ">
                Go to Region
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                <div class="dropdown">
                    <div class=" dropdown-menu-custom text-left dropdown-toggle" type="button" id="dropdownGoToRegion" data-toggle="dropdown">
                        <span id="dropdownGoToRegion_lable">Select Region</span>
                        <span class="caret"></span>


                    </div>
                    <ul class="dropdown-menu full-width map_controller_go_to_region" role="menu" aria-labelledby="dropdownGoToRegion">

                        <% get_region_names_with_keys.each do |key , region|%>

                            <%= content_tag :li, id: "#{remove_white_space key}_inside_dropdown_main",
                                            class: "map_controller_go_to_region_li", onclick:"Side_Panel.controller.select_region('#{key}')", role:"presentation" do
                               region
                            end
                            %>
                        <% end %>
                    </ul>

                </div>
            </td>
        </tr>
    </tbody>

